<p>
<div class="alert alert-info"><%= link_to  'Product count:', [:admin, :products] %> <%= @products_count %> </div>
<div class="alert alert-info"><%= link_to 'Category count:', [:admin, :categories] %> <%= @categories_count %></div>

